@import "common-mixins.less";
@import "misc.less";

@background-color: #faefd8;
@main-width: 640px;
@main-height: 1080px;


html {
    padding: 0;
    margin: 0;
}
body{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: @background-color;
    padding: 0;
    margin: 0;
//    min-width: @main-width;
}
.template-container{
    position: absolute;
    width: 100%;
    height: 100%;
}
#invisible-container{
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.bound{
    position: absolute;
    border: 1px solid red;
    margin-left: -1px;
    margin-top: -1px;

    z-index: 1000;
    pointer-events: none;

    .text{
        position: absolute;
        top:4px;
        width: 200px;
        height:20px;
        left:50%;
        margin-left: -100px;
        color:red;
        text-align: center;
    }
}

/* common */
#main-background{
    position: fixed;
    width: 100%;
    height: 100%;

    .image-bg("main-background.jpg");
    background-size: cover;
    background-position: center top;

    .layout{
        position: absolute;
        width: 100%;
        height: 100%;

//        .image-bg('layouts/rule.jpg');

        background-position: center top;

        opacity: .3;
    }

    .statement{
        position: absolute;
        bottom: 16px;
        right: 27px;
        .image-bg('statement.png');
        width: 385px;
        height: 36px;
    }


}

#logo{
    position: fixed;
    left: 22px;
    top:11px;
    width: 137px;
    height: 41px;
    .image-bg('logo.png');
}

#scene-container{
    position: relative;
    width: @main-width;
    height: auto;
    min-height: @main-height;

    margin-left: auto;
    margin-right: auto;

    overflow-x: hidden;
    overflow-y: auto;

    &.fix-size-mode{


        @media (min-height: 1080px) {
            position: absolute;
            left: 50%;
            top:50%;
            margin-left: -@main-width * .5;
            margin-top: -@main-height * .5;

            overflow: hidden;
        }

    }
}

/* menu */
#menu-cover{
    position: fixed;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    display: none;

    &.active-mode{
        display: block;
    }
}

#menu{
    position: fixed;

    left: 50%;
    top:0;
    width: @main-width;
    margin-left: -@main-width * .5;



    .menu-icon{
        position: absolute;
        right: 13px;
        top:6px;
        width: 60px;
        height: 60px;
        .image-bg("menu-icon.png");
        cursor: pointer;
    }

    .menu-base{

        visibility: hidden;
        top: -500px;

        @duration : .3s;

        transition: top @duration ease-in, visibility .0s linear @duration;

        &.open-mode{
            visibility: visible;
            top: 0;

            transition: top @duration ease-out, visibility .0s linear .0s;
        }

        position: absolute;
        right: 0;
        padding: 5px;
        background-color: rgba(42, 32, 11, .9);

        .menu-container{
            position: relative;
            right: 0;
            top:0;

            @border-color: #fcd903;

//            width: 100px;
//            height: 100px;
            border: 1px solid @border-color;

            .my-mixin (@index) when (@index <= 7)
            {
                @i: 1 + ((@index - 1) * 2);

                .button:nth-child(@{i}){
                    position: relative;
//                    float: left;
                    width: 294px;
                    height: 70px;

                    .image-bg('menu-texts.png');


                    background-position: 0 -((@index - 1) * 70px);

//                    background-color: rgba(255, 255, 0, .3);

                    margin-top: -1px;

                    &:hover{
                        background-position: -294px -((@index - 1) * 70px);
                        background-color: @border-color;
                    }

                    cursor: pointer;
                }

                .my-mixin(@index + 1);
            }

            .my-mixin(1);


            .line{
                position: relative;
                width: 280px;
                height: 1px;
                margin-left: 7px;
                margin-top: -1px;

                background-color: @border-color;

            }
        }
    }
}

/* index */
#index {

    position: absolute;

    .abs-div-2(title, 34, 54, 573, 301, 'index-title.png');

    .abs-div-2(detail, 74, 827, 492, 184, 'index-detail.png');

    .options{
        .abs-div-2(none, 34, 678, 570, 153, 'index-options.png');

        .abs-div-2(btn-participate, 0, 47, 230, 70);
        .abs-div-2(btn-to-entries, 340, 47, 230, 70);

        .btn-participate, .btn-to-entries{
//            background-color: rgba(255, 0, 0, .3);
            cursor: pointer;
        }
    }

    .examples{
        position: absolute;

        left:@main-width * .5;
        top: 509px;

        .user-example{
            @w: 385px;
            @h: 440px;
//            .abs-div-2(none, -@w*.5, -@h*.5, @w, @h,'index-t-shirt-demo.png');
            .abs-div-2(none, -@w*.5, -@h*.5, @w, @h);

            img{
                position: absolute;
                left: 0;
                top: 0;
            }
        }


        .abs-div-2(arrow-prev, -292, -40, 54, 99, 'index-arrow-left.png');
        .abs-div-2(arrow-next, 242, -40, 54, 99, 'index-arrow-right.png');

        .arrow-prev, .arrow-next{
            cursor: pointer;
        }

        .arrow-prev:active{
            margin-left: -1px;
        }

        .arrow-next:active{
            margin-left: 1px;
        }


    }

}

/* participate */
#participate{
    position: absolute;

    .abs-div-2(title, 102, 67, 438, 80, 'participate-title.png');
    .abs-div-2(contents, 55, 157, 536, 791, 'participate-contents.png');

    .abs-div-2(btn-upload, 247, 749, 150, 45, 'participate-btn-upload.png');
    .abs-div-2(btn-send, 247, 964, 150, 45, 'participate-btn-continue.png');

    .btn-upload, .btn-send{
        cursor: pointer;
        &:active{
            margin-top: 1px;
        }

        &.disactivated{
            opacity: .5;
        }
    }

    .checkbox{
        position: absolute;
        left: 52px;
        top: 807px;
    }

    .preview{
        position: absolute;
        width: 456px;
        height: 228px;
        left: 92px;
        top: 360px;
        border: 1px solid black;
        background-color: white;
    }

    .description{
        position: absolute;
        width: 526px;
        height: 94px - 10px;
        resize: none;

        left: 51px;
        top: 640px;

        padding: 5px;

        border: 1px solid black;
        background-color: white;
    }

    .image-input{
        visibility: hidden;
    }

}

#dialog-is-ready{
    position: fixed;
    width: 100%;
    height: 100%;

    background-color: rgba(255,255,255,.3);

    .content{
        @w: 474px;
        @h: 261px;
        position: absolute;
        width: @w;
        height: @h;
        left:50%;
        top: 50%;
        margin-left: -@w * .5 + 1px;
        margin-top: -@h * .5;

        .image-bg("participate-alert-base.png");

        .abs-div-2(btn-yes, 14, 146, 214, 100, 'participate-alert-btn-yes.png');
        .abs-div-2(btn-no, 247, 146, 214, 100, 'participate-alert-btn-no.png');

        .btn-yes, .btn-no{
            cursor: pointer;
            &:active{
                margin-top: 1px;
            }
        }

        .btn-close{
            .abs-div-2(none, 423, 0, 50, 50, "common-btn-close.png");
            cursor: pointer;
        }

    }
}

/* participate form */
#participate-form{
    position: absolute;

    .abs-div-2(title, 102, 66, 430, 80, 'participate-form-title.png');
    .abs-div-2(texts, 55, 175, 433, 752, 'participate-form-texts.png');

    .btn-send{
        .abs-div-2(none, 247, 953, 150, 45, 'participate-form-btn-send.png');

        cursor: pointer;

        &:active{
            margin-top: 1px;
        }
    }

    .checkbox{
        position: absolute;
        left: 53px;
        top: 905px;
    }

    .rule-container{
        position: absolute;
        left: 51px;
        top: 367px;
        width: 536px;
        height: 515px;
        background-color: white;
        border: 1px solid black;

        overflow-y:  auto;

        .rule-texts{
            position: relative;
            width: 500px;
            height: 611px;
            margin-left: 5px;
            margin-top: 1px;
            .image-bg('participate-form-rules.png');
        }

    }

    .fields{
        position: absolute;
        left: 0;
        top: 0;

        input{
            position: absolute;

            background-color: #ffffff;
            border: 1px solid black;

            height: 23px;

            .default-font(14px);

            padding-left: 5px;
            padding-right: 5px;
        }

        .field-school-name{

            left: 101px;
            top: 211px;
            width: 467px;
        }

        .field-class-name{

            left: 154px;
            top: 247px;
            width: 138px;

        }

        .field-user-name{

            left: 445px;
            top: 247px;
            width: 123px;

        }

        .field-phone{

            left: 137px;
            top: 283px;
            width: 431px;

        }

        .field-email{

            left: 153px;
            top: 319px;
            width: 415px;

        }
    }
}

#participate-form-success{
    position: fixed;
    width: 100%;
    height: 100%;

    top:0;
    left:0;

    background-color: rgba(255,255,255,.3);

    .content{
        @w: 474px;
        @h: 401px;
        position: absolute;
        width: @w;
        height: @h;
        left:50%;
        top: 50%;
        margin-left: -@w * .5 + 1px;
        margin-top: -@h * .5;

        .image-bg("participate-form-success-base.png");



        .btn-share{
            .abs-div-2(none, 135, 326, 190, 45, 'participate-form-success-btn-share.png');
            cursor: pointer;
            &:active{
                margin-top: 1px;
            }
        }

        .btn-close{
            .abs-div-2(none, 423, 0, 50, 50, "common-btn-close.png");
            cursor: pointer;
        }

    }
}

/* entries */
#entries{
    position:static;

    .abs-div-2(title, 102, 66, 438, 80, 'entries-title.png');

    .search-bar{
        .abs-div-2(none, 81, 167, 478, 31, 'entries-search-bar.png');

        .search-input{
//            background-color: rgba(255,0,0,.3);
            background:transparent;
            border: none;
            padding: 5px 10px;

            position: absolute;
            top: 0;
            left: 0;
            width: 270px;
            height: 20px;

            .default-font(14px);
        }

        .btn-search-name{
            position: absolute;
            left:292px;
            top:0;
            width: 90px;
            height:30px;
//            background-color: rgba(255,0,0,.3);
            cursor: pointer;
        }

        .btn-search-serial{
            position: absolute;
            left:386px;
            top:0;
            width: 90px;
            height:30px;
//            background-color: rgba(255,0,0,.3);
            cursor: pointer;
        }
    }

    .abs-div-2(tab-latest, 51, 208, 118, 34, 'entries-tab-latest.png');
    .abs-div-2(tab-popular, 170, 208, 118, 34, 'entries-tab-popular.png');

    .tab-latest, .tab-popular{

        background-position: bottom;
        cursor: pointer;

        &.active-mode{
            background-position: top;
        }


    }

    .entries-container{
        position: relative;

        margin-left:51px;
        margin-top:244px;


        @width:536px;
        @height-close:372px;
//        @height-close:572px;

        width: @width;


        .entry{
            position: relative;
            width: @width;
//            height: @height-close;
            height: auto;

            margin-left: 0;
            margin-bottom: 10px;

            border: 1px solid black;
            background-color: white;

            transition: height, .4s, ease-out;

            .thumb{
                position: absolute;
                left: 41px;
                top: 17px;
                width: 456px;
                height: 228px;
//                background-color: rgba(255,0,0,.3);
                background-color: #efefef;
            }

            .fields{
                .abs-div-2(none, 43, 254, 361, 57, 'entries-field-text.png');

                div{
                    position: absolute;
                    height: 30px;
                    .default-font(20px);
                    font-weight: bold;

                    word-break: break-all;
                    overflow: hidden;

//                    background-color: rgba(255,0,0,.3);
                }

                .num-votes{
                    left:70px;
                    top:-6px;
                    width: 148px;

                    color:#fc6d03;
                    font-size: 30px;
                    font-family: arial, sans-serif;
                }

                .school-name{
                    left:294px;
                    top:-4px;
                    width: 160px;
                }

                .class-name{
                    left:124px;
                    top:30px;
                    width: 94px;
                }

                .user-name{
                    left:318px;
                    top:30px;
                    width: 136px;
                }
            }

            .btn-vote{
//                .abs-div-2(none, 43, 318, 150, 45, 'entries-btn-vote.png');

                position: relative;
                margin-left: 349px;
                margin-top: 318px;
                margin-bottom: 10px;
                width: 150px;
                height: 45px;
                .image-bg('entries-btn-vote.png');

                cursor: pointer;
//                &:active{
//                    margin-top: 1px;
//                }
            }

            .btn-switch{
                @c: #a9a9a9;
                position: absolute;
                left: 42px;
                top:326px;
//                width: 140px;
//                height: 30px;
                text-align: center;
                .default-font(18px, @c);
                border: 1px solid @c;
                border-radius: 5px;

                padding: 5px 10px;

                cursor: pointer;

                &::after{
                    content: '觀看創作概念▽';
                }

            }

            .div-line{

                position: relative;
                margin-left:42px;
                margin-top:10px;
                width: 454px;
                height: 1px;
                background-color: lightgray;

                display: none;
            }

            .description{
                position: relative;
//                left:42px;
//                top:383px;
                margin-left:42px;
                margin-top: 3px;
                margin-bottom: 10px;

                width: 454px;

                .default-font(16px);

                display: none;
            }

            &.open-mode{
                .div-line, .description{
                    display: block;
                }

                .btn-switch::after{
                    content: '隱藏創作概念△';
                }
            }

        }
    }

    .bleed{
        position: relative;
        width: 640px;
        height: 130px;
        margin-top: 10px;

        .loading-hint{
            position: absolute;
            width: 300px;
            left:50%;
            margin-left: -150px;
            top: 20px;
            height: 30px;
            text-align: center;

            .default-font(16px);

            visibility: hidden;

            @keyframes flash {
                from {
                    opacity: 1;
                }

                to {
                    opacity: .1;
                }
            }

            animation-duration: 0.4s;
            animation-name: flash;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }



        &.active-mode{

            .loading-hint{
                visibility: visible;
            }
        }
    }

}


#dialog-reviewing{
    position: fixed;
    width: 100%;
    height: 100%;

    top:0;
    left:0;

    background-color: rgba(255,255,255,.3);

    .content{
        @w: 474px;
        @h: 243px;
        position: absolute;
        width: @w;
        height: @h;
        left:50%;
        top: 50%;
        margin-left: -@w * .5 + 1px;
        margin-top: -@h * .5;

        .image-bg("dialog-reviewing-base.png");



        .btn-continue{
            .abs-div-2(none, 162, 166, 150, 45, 'dialog-reviewing-btn-continue.png');
            cursor: pointer;
            &:active{
                margin-top: 1px;
            }
        }

        .btn-close{
            .abs-div-2(none, 423, 0, 50, 50, "common-btn-close.png");
            cursor: pointer;
        }

    }
}


#dialog-unapproved{
    position: fixed;
    width: 100%;
    height: 100%;

    top:0;
    left:0;

    background-color: rgba(255,255,255,.3);

    .content{
        @w: 474px;
        @h: 243px;
        position: absolute;
        width: @w;
        height: @h;
        left:50%;
        top: 50%;
        margin-left: -@w * .5 + 1px;
        margin-top: -@h * .5;

        .image-bg("dialog-unapproved-base.png");



        .btn-continue{
            .abs-div-2(none, 162, 166, 150, 45, 'dialog-reviewing-btn-continue.png');
            cursor: pointer;
            &:active{
                margin-top: 1px;
            }
        }

        .btn-close{
            .abs-div-2(none, 423, 0, 50, 50, "common-btn-close.png");
            cursor: pointer;
        }

    }
}

#vote-form{
    position: absolute;

    .abs-div-2(title, 102, 66, 430, 80, 'participate-form-title.png');
    .abs-div-2(texts, 55, 175, 473, 752, 'vote-form-texts.png');

    .btn-send{
        .abs-div-2(none, 247, 953, 150, 45, 'participate-form-btn-send.png');

        cursor: pointer;

        &:active{
            margin-top: 1px;
        }
    }

    .checkbox{
        position: absolute;
        left: 53px;
        top: 905px;
    }

    .rule-container{
        position: absolute;
        left: 51px;
        top: 296px;
        width: 536px;
        height: 585px;
        background-color: white;
        border: 1px solid black;

        overflow-y:  auto;

        .rule-texts{
            position: relative;
            width: 500px;
            height: 611px;
            margin-left: 5px;
            margin-top: 1px;
            .image-bg('participate-form-rules.png');
        }

    }

    .fields{
        position: absolute;
        left: 0;
        top: 0;

        input{
            position: absolute;

            background-color: #ffffff;
            border: 1px solid black;

            height: 23px;

            .default-font(14px);

            padding-left: 5px;
            padding-right: 5px;
        }

        .field-user-name{

            left: 140px;
            top: 211px;
            width: 161px;

        }

        .field-phone{

            left: 409px;
            top: 211px;
            width: 160px;

        }

        .field-email{

            left: 157px;
            top: 247px;
            width: 412px;

        }
    }
}

#vote-form-success{
    position: fixed;
    width: 100%;
    height: 100%;

    top:0;
    left:0;

    background-color: rgba(255,255,255,.3);

    .content{
        @w: 474px;
        @h: 401px;
        position: absolute;
        width: @w;
        height: @h;
        left:50%;
        top: 50%;
        margin-left: -@w * .5 + 1px;
        margin-top: -@h * .5;

        .image-bg("vote-form-success-base.png");



        .btn-share{
            .abs-div-2(none, 135, 326, 190, 45, 'participate-form-success-btn-share.png');
            cursor: pointer;
            &:active{
                margin-top: 1px;
            }
        }

        .btn-close{
            .abs-div-2(none, 423, 0, 50, 50, "common-btn-close.png");
            cursor: pointer;
        }

    }
}

#vote-form-share-success{
    position: fixed;
    width: 100%;
    height: 100%;

    top:0;
    left:0;

    background-color: rgba(255,255,255,.3);

    .content{
        @w: 474px;
        @h: 261px;
        position: absolute;
        width: @w;
        height: @h;
        left:50%;
        top: 50%;
        margin-left: -@w * .5 + 1px;
        margin-top: -@h * .5;

        .image-bg("vote-form-share-success-base.png");

        .btn-participate{
            .abs-div-2(none, 65, 166, 156, 45, 'vote-form-share-success-btn-participate.png');
            cursor: pointer;
            &:active{
                margin-top: 1px;
            }
        }

        .btn-entries{
            .abs-div-2(none, 255, 166, 156, 45, 'vote-form-share-success-btn-entries.png');
            cursor: pointer;
            &:active{
                margin-top: 1px;
            }
        }

        .btn-close{
            .abs-div-2(none, 423, 0, 50, 50, "common-btn-close.png");
            cursor: pointer;
        }

    }
}

/* reviewers */
#reviewers{
    position: absolute;

    .abs-div-2(title, 102, 66, 438, 80, 'reviewers-title.png');

    .abs-div-2(reviewer-1, 106, 168, 430, 256, 'reviewers-reviewer-1.png');
    .abs-div-2(reviewer-2, 106, 440, 430, 256, 'reviewers-reviewer-2.png');
    .abs-div-2(reviewer-3, 106, 714, 430, 256, 'reviewers-reviewer-3.png');
}

/* rule */
#rule{
    position: absolute;

    .abs-div-2(title, 102, 66, 438, 80, 'rule-title.png');

    .rule-container{
        position: absolute;
        left: 51px;
        top: 175px;
        width: 536px;
        height: 812px;
        background-color: #ffffff;
        border: 1px solid black;

        overflow-x: hidden;
        overflow-y: auto;

        .rule-content{
            position: relative;
            margin-left: 25px;
            margin-top: 11px;
            width: 473px;
            height: 787px;
            .image-bg('rule-contents.png');
        }
    }
}